
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        --first-size: 10px;
        --second-size: 10px;
        --third-size: 14.5px;
        --fourth-size: 34px;
        --fifth-size: 34px;
        --sixth-size: 48px;
        --seventh-size: 90px; 
    }
    
    #image {
        width: 750px;
    }

    #image-figure {
        width: 650px;
    }

    #image-sticker {
        width: 500px;
    }

    #porsche-logotipo {
        width: 300px;
    }

    .title-footer {
        padding-left: 20px;
    }

    .paragraph-footer {
        font-size: 16px;
    }

    #footer-title-description {
        font-size: 50px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    :root {
        --first-size: 10px;
        --second-size: 12px;
        --third-size: 13px;
        --fourth-size: 34px;
        --fifth-size: 34px;
        --sixth-size: 42px;
        --seventh-size: 80px; 
    }

    #image {
        width: 700px;
    }

    #image-figure {
        width: 600px;
    }

    #image-sticker {
        width: 400px;
    }

    #porsche-logotipo {
        width: 260px;
    }

    .title-footer {
        font-size: 26px;
    }

    .paragraph-footer {
        font-size: 14px;
    }

    #footer-title-description {
        font-size: 42px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    :root {
        --first-size: 10px;
        --second-size: 12px;
        --third-size: 13px;
        --fourth-size: 34px;
        --fifth-size: 34px;
        --sixth-size: 42px;
        --seventh-size: 80px; 
    }

    body {
        grid-template-rows: repeat( 5, 80vh) 90vh 400px;
    }

    #title-container {
        grid-template-rows: 15% 15vh auto 15%;
    }

    #image {
        width: 640px;
    }

    #image-figure {
        width: 600px;
    }

    #image-sticker {
        width: 350px;
    }

    #porsche-logotipo {
        width: 260px;
    }

    #technical-specs {
        grid-template-rows: 15vh auto;
    }

    #footer {
        grid-template-columns: repeat( 3, 1fr 5fr) 1fr;
        grid-template-rows:  0.5fr 1fr 1.2fr 22px;
    }

        .title-footer {
            font-size: 26px;
        }

        .paragraph-footer {
            font-size: 14px;
        }

        #footer-title-description {
            font-size: 42px;
        }
}

@media screen and (min-width: 880px) and (max-width: 1000px) {
    :root {
        --first-size: 8px;
        --second-size: 10px;
        --third-size: 12px;
        --fourth-size: 34px;
        --fifth-size: 34px;
        --sixth-size: 50px;
        --seventh-size: 70px; 
    }

    body {
        grid-template-rows: repeat( 5, 80vh) 90vh 400px;
    }

    #title-container {
        grid-template-rows: 15% 15vh auto 15%;
    }
    
    #image {
        width: 550px;
        margin: 300px 0px 0px 0px;
    }

    #image-figure {
        width: 500px;
    }

    #image-sticker {
        width: 325px;
    }

    #porsche-logotipo {
        width: 250px;
    }

    #technical-specs {
        grid-template-rows: 15vh auto;
    }

    #footer {
        grid-template-columns: repeat( 3, 1fr 5fr) 1fr;
        grid-template-rows:  0.5fr 1fr 1.2fr 22px;
    }

        .title-footer {
            font-size: 22px;
        }

        .paragraph-footer {
            font-size: 12px;
        }

        #footer-title-description {
            font-size: 38px;
        }
}


/*   ////////////////////////////////////////////////////////////////////   */

@media screen and (min-width: 300px) and (max-width: 880px) { 
    html, body {
        width: 100% !important;
        overflow-x: hidden !important; 
    }
    
}

@media screen and (min-width: 700px) and (max-width: 880px) {
    :root {
        --first-size: 8px;
        --second-size: 8px;
        --third-size: 10px;
        --fourth-size: 24px;
        --fifth-size: 30px;
        --sixth-size: 40px;
        --seventh-size: 60px; 
    }

    body {
        grid-template-rows: repeat( 5, 80vh) 90vh 400px;
    }

    #title-container {
        grid-template-rows: 15% 15vh auto 15%;
    }
    
    #image {
        width: 450px;
        margin: 250px 0px 0px 0px;
    }

    #image-figure {
        width: 400px;
    }

    #image-sticker {
        width: 250px;
    }

    #porsche-logotipo {
        width: 150px;
    }

    #technical-specs {
        grid-template-rows: 15vh auto;
    }

    .technical-container {
        padding: var(--fourth-size) var(--fourth-size);
    }

    #footer {
        grid-template-columns: repeat( 3, 1fr 5fr) 1fr;
        grid-template-rows:  0.5fr 1fr 1.2fr 22px;
    }

        .title-footer {
            font-size: 20px;
        }

        .paragraph-footer {
            font-size: 12px;
        }

        #footer-title-description {
            font-size: 32px;
        }
}

@media screen and (min-width: 300px) and (max-width: 700px) { 
    body {
        grid-template-columns: 100vw;
        grid-template-rows: repeat( 7, 100vh);
        font-family: var(--second-font-family);
    }

    .title-small {
        margin-left: 0px;
    }

    .title-big {
        margin-left: 0px;
    }

    #image {
        grid-area: 2 / 1 / 3 / 3;
        width: 90vw;
        margin: 0px;
        justify-self: end;
    }

        #car-bar {
            grid-area: 2 / 1 / 3 / 3;
            width: 100%;
            height: 90%;
            align-self: start;
            z-index: -1;
            background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 40%, rgba(252,176,69,1) 60%, rgba(253,29,29,1) 80%, rgba(131,58,180,1) 100%);
            background-size: 400%;
            animation: title-bar 15s ease infinite;
        }    

    #title {
        grid-area: 3 / 1 / 4 / 3;
        display: grid;
        grid-template-rows: 50% 50%;
        align-items: center;
    }

        #title-presenting-small {
            grid-area: 1 / 1 / 2 / 2;
            align-self: end;
            margin-left: 5%;
        }

        #title-presenting-big {
            grid-area: 2 / 1 / 3 / 2;
            margin-left: 5%;
        }

        #title-bar {
            grid-area: 1 / 1 / 3 / 2;
            background: none;
            animation: none;
        }

        #img-div {
            grid-template-columns: 100vw;
            grid-template-rows: auto 10vh 20vh auto auto;
        }
        
            #image-sticker {
                grid-area: 2 / 1 / 3 / 2;
                width: 80vw;
            }
    
            #presenting-text {
                grid-area: 3 / 1 / 4 / 2;
                width: 80%;
                align-self: start;
            }
            
            #image-figure {
                grid-area: 4 / 1 / 5 / 2;
                width: 100vw;
            }

        #inspiration-title {
            padding-top: 0px;
        }
        
            #title-inspiration-small {
                grid-area: 1 / 1 / 2 / 2;
            }
    
            #title-inspiration-big {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            #title-inspiration-big > span {
                display: none;
            }
        
        #inspiration-section-pics {
            grid-area: 2 / 1 / 5 / 4;
            display: flex;
            flex-direction: column;
        }  
        
            .image-size {
                width: 100vw;
                height: 20vh;
                object-fit: cover;
            }
        
            .image-size:hover {
                animation: none;
            }

        #container-gallery {
            grid-template-rows: repeat(2, auto);
        }
    
            .element-gallery {
                width: 100vw;
                height: 37.5vh;
            }
    
            #element-1 {
                grid-area: 1 / 1 / 2 / 2;
            }
    
            #element-2 {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            #element-3 {
                grid-area: 1 / 1 / 2 / 2;
            }
    
            #element-4 {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            #element-5 {
                grid-area: 1 / 1 / 2 / 2;
            }
    
            #element-6 {
                grid-area: 2 / 1 / 3 / 2;
            }

    #technical-specs {
        grid-template-columns: 100vw;
        grid-template-rows: 10vh auto auto auto 5vh;
    }

        #technical-title {
            grid-area: 1 / 1 / 2 / 2;
        }

                .technical-title {
                    font-size: var(--fifth-size);
                    grid-area: 1 / 1 / 2 / 2;
                    align-self: end !important;
                }
    
                .technical-container {
                    grid-area: 2 / 1 / 3 / 2;
                    padding: var(--fifth-size) 5vw;
                    width: 85vw;
                }
    
                .technical-content-grid {
                    grid-template-rows: 20% auto;
                }
    
            #power-unit {
                grid-area: 2 / 1 / 3 / 2;
            }

            #power-unit:hover {
                animation: switch-contrast-color 1s ease forwards;
            }
    
            #performance {
                grid-area: 3 / 1 / 4 / 2;
            }
    
            #performance:hover {
                animation: switch-contrast-color 1s ease forwards;
            }

            #body {
                grid-area: 4 / 1 / 5 / 2;
            }

            #body:hover {
                animation: switch-contrast-color 1s ease forwards;
            }

    #resume {
        grid-template-rows: 30vh 10vh auto;
    }
    
        #resume-image {
            grid-area: 3 / 1 / 4 / 2;
            width: 100vw;
        }
    
        #text-resume {
            grid-area: 1 / 1 / 2 / 2;
            width: 60vw;
            align-self: end;
            color: var(--first-color);
        }
    
        #buttom-buy {
            grid-area: 2 / 1 / 3 / 2;
            padding: 1em 3em 1em 3em;
        }
    
        #buttom-buy:hover {
            animation:grow-scale-resume-buttom 1s ease forwards;
        }

        #footer-space-bar {
            grid-area: 1 / 1 / 2 / 2;
        }

        #footer-title-description {
            grid-area: 2 / 1 / 3 / 2;
        }

            #footer-content-description {
                grid-area: 3 / 1 / 4 / 2;
            }

        #footer-title-academic {
            grid-area: 4 / 1 / 5 / 2;
        }

            #footer-content-academic {
                grid-area: 5 / 1 / 6 / 2;
            }

        #footer-title-contact {
            grid-area: 6 / 1 / 7 / 2;
        }

            #footer-content-contact {
                grid-area: 7 / 1 / 8 / 2;
            }

        #footer-down-bar {
            grid-area: 8 / 1 / 9 / 2;
        }
}


@media screen and (min-width: 600px) and (max-width: 700px) {
    :root {
        --first-size: 10px;
        --second-size: 14px;
        --third-size: 18px;
        --fourth-size: 24px;
        --fifth-size: 34px;
        --sixth-size: 50px;
        --seventh-size: 80px; 

    }
    
    #title-container {
        grid-template-columns: repeat( 2, 50vw);
        grid-template-rows: repeat( 3, 20vh) repeat( 2, auto);
    }

        #paragraph-presenting {
            grid-area: 4 / 1 / 6 / 2;
            padding: 0px;
            width: 70%;
            height: 80%;
            align-self: start;
            justify-self: center;
            text-align: left;
        }

        #general-specs {
            grid-area: 4 / 2 / 6 / 3;
            flex-direction: column;
            width: 70%;
            height: 70%;
            align-self: start;
            justify-self: center;
        }

        #general-power, #general-accelaration, #general-speed {
            width: 100%;
            line-height: 1em;
        }

        #general-power > .title-small, #general-accelaration > .title-small, #general-speed > .title-small {
            font-size: var(--fifth-size);
        }

    #inspiration {
        grid-template-columns: 100vw;
        grid-template-rows: repeat( 5, auto);
    }

        #inspiration-info {
            grid-area: 5 / 1 / 6 / 2;
            display: grid;
            grid-template-columns: repeat( 2, auto);
        }
    
            #inspiration-info > p {
                padding: 0% 5%;
            }
    
            #inspiration-info-element-2 {
                display: none;
            }

    #gallery {
        margin-top: 0%;
        grid-template-rows: 15vh auto 10vh;
    }
    
        #porsche-logotipo {
            width: 250px;
        }

    #footer {
        grid-area: 7 / 1 / 8 / 2;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 7fr repeat( 5, 1fr) 3fr 28px;
    }
    
        .title-footer {
            align-self: end;
            font-size: 40px;
            padding-left: 20px;
        }
    
        .paragraph-footer {
            padding: 20px;
            font-size: 18px;
        }
    
        #footer-title-description {
            font-size: 60px;
        }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    :root {
        --first-size: 10px;
        --second-size: 12px;
        --third-size: 14px;
        --fourth-size: 20px;
        --fifth-size: 30px;
        --sixth-size: 40px;
        --seventh-size: 50px; 

    }

    #title-container {
        grid-template-columns: repeat( 2, 50vw);
        grid-template-rows: repeat( 2, 20vh) 15vh repeat( 2, auto);
    }
    
            #paragraph-presenting {
                grid-area: 4 / 1 / 6 / 2;
                padding: 0px;
                width: 70%;
                height: 80%;
                align-self: start;
                justify-self: center;
                text-align: left;
    
            }
    
            #general-specs {
                grid-area: 4 / 2 / 6 / 3;
                flex-direction: column;
                width: 80%;
                height: 70%;
                align-self: start;
                justify-self: center;
            }
    
            #general-power, #general-accelaration, #general-speed {
                width: 100%;
                line-height: 1em;
            }
    
            #general-power > .title-small, #general-accelaration > .title-small, #general-speed > .title-small {
                font-size: var(--fifth-size);
            }

    #inspiration {
        grid-template-columns: 100vw;
        grid-template-rows: 20vh repeat( 4, auto);
    }

        #inspiration-info {
            grid-area: 5 / 1 / 6 / 2;
            display: grid;
            grid-template-columns: repeat( 2, auto);
        }
    
            #inspiration-info > p {
                padding: 0% 2.5%;
            }
    
            #inspiration-info-element-2 {
                display: none;
            }

    #gallery {
        margin-top: 0%;
        grid-template-rows: 15vh auto 10vh;
    }
    
        #porsche-logotipo {
            width: 150px;
        }

    #footer {
        grid-area: 7 / 1 / 8 / 2;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 4fr repeat( 5, 1fr) 3fr 50px;
    }
    
        .title-footer {
            align-self: end;
            font-size: 35px;
            padding: 0px 30px;
        }
    
        .paragraph-footer {
            padding: 15px 30px;
            font-size: 18px;
        }
    
        #footer-title-description {
            font-size: 60px;
        }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    :root {
        --first-size: 10px;
        --second-size: 10px;
        --third-size: 12px;
        --fourth-size: 20px;
        --fifth-size: 25px;
        --sixth-size: 30px;
        --seventh-size: 40px; 

    }

    #title-container {
        grid-template-columns: repeat( 2, 50vw);
        grid-template-rows: repeat( 2, 20vh) 15vh repeat( 2, auto);
    }
    
            #paragraph-presenting {
                grid-area: 4 / 1 / 6 / 2;
                padding: 0px;
                width: 70%;
                height: 80%;
                align-self: start;
                justify-self: center;
                text-align: left;
    
            }
    
            #general-specs {
                grid-area: 4 / 2 / 6 / 3;
                flex-direction: column;
                width: 80%;
                height: 70%;
                align-self: start;
                justify-self: center;
            }
    
            #general-power, #general-accelaration, #general-speed {
                width: 100%;
                line-height: 1em;
            }
    
            #general-power > .title-small, #general-accelaration > .title-small, #general-speed > .title-small {
                font-size: var(--fifth-size);
            }

    #inspiration {
        grid-template-columns: 100vw;
        grid-template-rows: 20vh repeat( 4, auto);
    }

        #inspiration-info {
            grid-area: 5 / 1 / 6 / 2;
            display: grid;
            grid-template-columns: repeat( 2, auto);
        }
    
            #inspiration-info > p {
                padding: 0% 2.5%;
            }
    
            #inspiration-info-element-2 {
                display: none;
            }

    #gallery {
        margin-top: 0%;
        grid-template-rows: 15vh auto 10vh;
    }
    
        #porsche-logotipo {
            width: 100px;
        }
    
    #footer {
        grid-area: 7 / 1 / 8 / 2;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 4fr repeat( 5, 1fr) 3fr 50px;
    }
    
        .title-footer {
            align-self: end;
            font-size: 35px;
            padding: 0px 30px;
        }

        .paragraph-footer {
            padding: 15px 30px;
            font-size: 14px;
        }

        #footer-title-description {
            font-size: 50px;
        }
}