:root {
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

    --first-font-family: 'Bebas Neue', sans-serif;
    --second-font-family: 'Roboto Slab', serif;

    --first-size: 10px;
    --second-size: 14px;
    --third-size: 18px;
    --fourth-size: 24px;
    --fifth-size: 52px;
    --sixth-size: 80px;
    --seventh-size: 100px; 

    --first-color: black;
    --second-color: #1d1d1d;
    --third-color: white;

}

body {
    display: grid;
    grid-template-rows: repeat( 6, 100vh);
    font-family: var(--second-font-family);
    margin: 0px;
    overflow-x: hidden;
    background-color: var(--second-color);
    color: var(--third-color);
}

    .title-small {
        font-family: var(--first-font-family);
        font-size: var(--fifth-size);
        margin-left: var(--third-size);
    }

    .title-big {
        font-family: var(--first-font-family);
        font-size: var(--seventh-size);
        margin-left: var(--third-size);
    }

    .paragraph-style {
        font-size: var(--third-size);
        line-height: 1.8em;
        text-align: center;
    }

#title-container {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 20vh auto;
}

    #title {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-rows: 50% 60%;
        align-items: center;
    }

        #title-presenting-small {
            grid-area: 1 / 1 / 2 / 2;
        }

        #title-presenting-big {
            grid-area: 2 / 1 / 3 / 2;
        }

        #title-bar {
            grid-area: 1 / 1 / 3 / 2;
            height: 65%;
            align-self: center;
            z-index: -1;
            background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 40%, rgba(252,176,69,1) 60%, rgba(253,29,29,1) 80%, rgba(131,58,180,1) 100%);
            background-size: 400%;
            animation: title-bar 60s ease infinite;

        }
    
    #image {
        grid-area: 2 / 1 / 3 / 2;
        width: 750px;
        margin: 0px -50px -200px 0px;
        align-self: center;
        justify-self: end;


    }

#img-div {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 10vh 30vh auto;
    background-color: var(--third-color);
    color: var(--first-color);
}

    #image-figure {
        width: 800px;
        grid-area: 2 / 1 / 4 / 2;
    }

    #img-caption {
        display: none;
    }

    #image-sticker {
        grid-area: 2 / 2 / 3 / 3;
        width: 80%;
        margin-bottom: var(--third-size);
        align-self: end;
    }

    #presenting-text {
        grid-area: 3 / 2 / 4 / 3;
        width: 80%;
        align-self: start;
    }

#inspiration {
    grid: 3 / 1 / 4 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat( 3, auto);
    grid-template-rows: repeat( 3, auto);
}

    #inspiration-title {
        grid-area: 1 / 1 / 2 / 4;
        display: grid;
        grid-template-rows: 40% 60%;
        padding-top: 2.5%;
    }

        #title-inspiration-small {
            grid-area: 1 / 1 / 2 / 2;
            align-self: end;
        }

        #title-inspiration-big {
            align-self: start;
            grid-area: 2 / 1 / 3 / 2;
        } 

    #inspiration-section-pics {
        grid-area: 2 / 1 / 3 / 4;
        display: flex;
        flex-direction: row;
    }  

        .image-size {
            width: calc( 100% / 3);
            object-fit: cover;
        }

        .image-size:hover {
            animation: grow-scale-inspiration 1s ease 0s forwards;
        }

    #inspiration-info {
        grid-area: 3 / 1 / 4 / 4;
        display: grid;
        grid-template-columns: repeat( 2, auto);
    }

        #inspiration-info > p {
            padding: 7.5%;
        }

h1, h2, p {
    all: unset;

}

@keyframes title-bar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 

@keyframes grow-scale-inspiration {
    100% {
        scale: 1.05;
    }
}